/**
  
* Template Name: Runaway - Personal Portfolio HTML Template
* Version: 1.0.3
* Author: themetrading
* Email: themetrading@gmail.com
* Developed By: themetrading
* First Release: 08 February 2019
* Author URL: www.themetrading.com

**/

/*===================================================================================
Table of CSS Content arrage with every section name
=====================================================================================

01.   Default Css
02.   Default Margin and Padding
03.   Overlay Css
04.   Socal Media
05.   Massage Box
06.	  Main Title
07.   background Image
08.   Nav Menu Css
09.   Side Nav menu
10.   Main banner
11.   Slider 
12.	  About
13.	  Video Popup 
14.	  Progress Bar and Fact Counter
15.   Services One
16.   Services Two
17.	  Portfolio
18.   Pricing
19.   Team
20.	  Testimonial
21.   Blog
22.   Contact
23.   Preloader 
24.   Back to Top
25.   Page Banner
26.   Page Nav
27.  Blog Sidebar

/*===================================================================================
	Typography links 
 	Import Google Fonts
=====================================================================================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i|Poppins:400,400i,600,600i,700,700i,800,800i");

/*===================================================================================
01.		Default Css
=====================================================================================*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 28px;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}
h1{
	font-size: 40px;
	line-height: 48px;
}
h2{
	font-size: 32px;
	line-height: 44px;
}
h3{
	font-size: 24px;
	line-height: 36px;
}
h4{
	font-size: 18px;
	line-height: 30px;
}
h5{
	font-size: 16px;
	line-height: 24px;
}
h6{
	font-size: 14px;
	line-height: 22px;
}
p{
	margin: 0px;
}
img{
    width: 100%;
    height: auto;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	display: inline-block;
	font-family: 'Poppins', sans-serif;
}
a:hover,a:focus,a.active{
	text-decoration: none !important;
	box-shadow: none !important;
}
*, ::after, ::before{
	 outline: none !important;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.btn{
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn_info{
  font-style: italic;
  text-transform: capitalize;
  padding: 0px;
}
.w_60{
	width: 60%;
}
.w_50{
	width: 50%;
}
.w_40{
	width: 40%;
}
.xy-center{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
	margin-left: 0px !important;
}
.pp-scrollable{
    overflow-y: scroll;
    height: 100%;
}
.full_row{
  position: relative;
  width: 100%;
}
/*=====================================================================================
02.		Default Margin and Padding
========================================================================================*/
/*  Margin 
======================*/
.mx_10{
	margin: 0px 10px;
}
.my_60{
  margin: 60px 0px;
}
.mt_5{
	margin-top: 5px;
}
.mt_15{
    margin-top: 15px;
}
.mt_60{
	margin-top: 60px;
}
.mb_60{
  margin-bottom: 60px;
}
.mt_30{
	margin-top: 30px;
}
.mt_100{
  margin-top: 100px;
}
.ml_105{
    margin-left: 105px;
}
.mr_20{
  margin-right: 20px;
}
.mr_60{
  margin-right: 60px;
}
.mb_15{
    margin-bottom: 15px
}
.mb_20{
  margin-bottom: 20px;
}
.mb_30{
    margin-bottom: 30px
}
/*  padding  
========================*/
.p_30{
  padding: 30px;
}
.p_20{
  padding: 20px;
}
.py_60{
  padding: 60px 0px;
}
.py_80{
	padding: 80px 0px;
}
.pr_50{
  padding-right: 50px;
}
.pt_15{
  padding-top: 15px;
}
.pt_30{
	padding-top: 30px;
}
.pt_60{
	padding-top: 60px;
}
.pb_60{
	padding-bottom: 60px;
}
.pb_30{
	padding-bottom: 30px;
}

/*=======================================================================
03.		Overlay Css
=========================================================================*/
.overlay_one,.overlay_two,.overlay_three,.overlay_four{
    position: relative;
}
.overlay_one:before,.overlay_two:before,.overlay_three:before,.overlay_four:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index: 9
}
/*=======================================================================
04.   Socal Media
=========================================================================*/
.socal_media ul li{
  margin-bottom: 15px;
}
.socal_media ul li a,.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,.contact_icon,.contact_icon{
  width: 50px;
  height: 50px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
}
.socal_media_2 ul li{
  float: left;
  padding-right: 20px;
  font-size: 18px;
}
/*====================================================================
05.   Massage Box
======================================================================*/
.contact_massage {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 111;
}
.contact_massage a {
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
/*====================================================================
06.		Main Title
======================================================================*/
.section_title_1 .title span{
    display: table;
    font-size: 18px;
    font-weight: 600;
    padding-left: 35px;
}
.section_title_1{
  width: 60%;
}
.main_title p{
  width: 40%;
}
.line_double{
    position: relative;
    text-transform: lowercase;
    padding: 0 50px !important;
}
.line_double::before, .line_double::after{
    background-color: #95bb2f;
}
.line_double::before {
    left: 0;
}
.line_double::before, .line_double::after{
	content: "";
	position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
}
.line_double::after {
    right: 0;
}
.line_double::before, .line_double::after{
	content: "";
	position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
}
#pp-nav{
    z-index: 11;
}
#pp-nav span, .pp-slidesNav span{
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#pp-nav li .active span:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: -4px;
    left: -4px;
    border-radius: 100%;
    border: 1px solid #fff;
}
.widget_title{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.widget_title:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 50px;
    height: 2px;
}
/*====================================================================
07.   background Image
======================================================================*/
.bg_transparent{
  background-color: transparent;
}
.background1{
  background-image: url(../images/slider/03.jpg);
}
.background2{
    background: url(../images/background/01.jpg) no-repeat center fixed;
}
.background3{
  background-image: url(../images/slider/04.jpg);
}
.background4{
  background-image: url(../images/slider/05.jpg);
}
.background5{
  background-image: url(../images/slider/06.jpg);
}
.background6{
    background-image: url(../images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
.background7{
  background-image: url(../images/background/02.jpg);
}
.background8{
  background-image: url(../images/background/03.png);
}
.background9{
  background-image: url(../images/background/04.jpg);
  background-position: center center; 
}
/*====================================================================
08.   Nav Menu Css
======================================================================*/
.navbar{
	padding:0px;
}
header{
  z-index: 11;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
}
.main_nav{
	  width: 100%;
    right: 0;
    left: 0;
    position: absolute;
    padding: 15px 0;
    min-height: 72px;
}
.nav-scroll{
    left: 0;
    padding: 15px 0px;
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 100;
}
.navbar-light .navbar-nav .nav-link{
	letter-spacing:1px;
	text-transform: uppercase;
	line-height: 32px;
}

.navbar .navbar-nav .nav-item{
	padding:0px 15px;
}
.nav-scroll {
    left: 0;
    padding: 15px 0px;
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 999;
}
.navbar-nav .nav-item .nav-link{
	position: relative;
	padding: 0;
}
.navbar-nav .nav-item .nav-link:before{
    position: absolute;
    content: "";
    width: 100%;
    display: table;
    height: 2px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
}
.navbar-nav .nav-item .nav-link.active:before{
    opacity: 1;
}
/*==================================================================================
09.   Side Nav menu
====================================================================================*/
.sidebar{
  position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    padding: 30px 20px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    text-decoration: none;
    font-size: 14px;
    display: block;
}
ul#menu li a{
  margin: 7px 30px;
}
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}
.sidebar span{
   font-size: 36px;
   display: block;
   text-align: center;
}
.sidebar img{
    margin-bottom: 60px;
}
#mysidenav img{
    width: 100px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}   
/*====================================================================
10.   Main banner
======================================================================*/
.banner_image,.banner_water_effect{
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.mainbanner_content{
  position: relative;
  z-index: 9
}
.banner_title{
  font-size: 30px;
}
.mainbanner_content p{
	font-size: 15px;
	letter-spacing: 1px;
  width: 50%;
}
/*===============================================================================
11.   Slider 
=================================================================================*/
.pattan{
    position: relative;
}
.pattan:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/pattan.png);
    background-color: transparent;
    z-index: 9;
    width: 40%;
    height: auto;
}
.carousel-caption{
    position: absolute;
    text-align: left;
    top: 50%;
    z-index: 999
}
.carousel-caption p{
  width: 60%;
}
#slider img{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    object-fit: cover;
}
.carousel-caption h1{
    position: relative;
    z-index: 99
}
/* Slider Liner Css Start */
.line-container{
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.liner{
    position: relative;
}
.liner:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.09);
    width: 1px;
    height: 100vh;
    min-height: 100%;
}
/*===============================================================================
12.		About
=================================================================================*/

.personal_info ul li{
	border-bottom: 1px solid;
	padding: 10px 0px;
}
.about2 img{
  width: 100%;
  height: 100vh;
  max-height: 100%;
}
.personal_info ul li{
  border-bottom: 1px solid;
  border-width: 80%;
  padding: 10px 0px;
}
.myself img{
  width: 150px;
  height: auto;
  float: right;
}

/*===============================================================================
13.		Video Popup 
=================================================================================*/
.intro-video {
 width:100%;
 height: 350px;
 background-size: cover;
 position: relative
}
.intro-video:before {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 1
}
.video-popup span{
 position: absolute;
 width: 80px;
 height: 80px;
 line-height: 80px;
 text-align: center;
 font-size: 24px;
 border-radius: 50%;
 padding-left: 3px;
 top: 50%;
 left: 50%;
 z-index: 2
}
.video-popup .inner_title.center_middle{
 margin-top: 80px
}
.YouTubePopUp-Wrap {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999
}
.YouTubePopUp-Content {
  background: rgba(0, 0, 0, 0) url("../images/fancybox/fancybox_loading.gif") no-repeat scroll center center;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 680px;
  position: relative
}
.YouTubePopUp-Content iframe {
  border: medium none;
  bottom: 0;
  display: block;
  height: 480px;
  margin: auto 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%
}
.profile_img.personal_video{
    position: relative;
}
.profile_img.personal_video a {
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    top: 48%;
    left: 78px;
    z-index: 222;
}
.profile_img.personal_video .iconround:before{
    content: "";
    position: absolute;
    top: 48%;
    left: 17px;
    width: 122px;
    height: 122px;
    border: 5px solid;
    border-radius: 100%;
}
.profile_img.personal_video .loader{
    position: absolute;
    left: 17.50%;
    top: 48%;
    z-index: 11;
}
.personal_video a {
    position: relative;
}
.personal_video a {
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 222;
}
.personal_video .video-popup i:before {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    margin-left: 8px;
}

/*===============================================================================
14.   Progress Bar and Fact Counter
=================================================================================*/
/*    Fact Counter     */
.counter-box{
  position: relative;
  z-index: 11
}
.counter-box span:before{
  font-size: 40px;
  display: block;
}
/*  Progress bar   */

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  
.limit {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
} 
.limit{
  float: right;
}
.limitebar{
  font-weight: 600
}
/*==================================================================================
15.   Services One
====================================================================================*/
.service_one{
  border-radius: 20px;
  border: 2px solid;
  border-color: transparent;
  margin: 10px 20px;
}
.service_one:hover{
  border: 2px solid;
}
.srvicon{
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
  margin-bottom: 15px;
}
.srvicon span:before{
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  line-height: 62px;
}
.owl-nav{
  margin-top: 50px !important;
  text-align: center;
  margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-prev{
  margin-right: 10px;
}
.owl-carousel .owl-nav.disabled{
  display: block !important;
}
/*==================================================================================
16.   Services Two
====================================================================================*/
.service_two p{
  padding: 30px 20px;
}
.srv_item_number{
    position: relative;
    overflow: hidden;
    text-align: right;
    border-bottom: 1px dotted;
}
.srv_item_number:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 80px;
}
.srv_item_number strong{
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    position: relative;
    top: 20px;
    display: inline-block;
    transition: all .4s ease;
    padding-right: 20px;
}
.service_two .srv_icon{
    width: 100px;
    height: 100px;
    transition: all .8s ease;
    text-align: center;
    margin: 0 auto
}
.service_two .srv_icon span:before{
    font-size: 42px;
    line-height: 100px;
}
.service_two:hover .srv_item_number strong{
    top: 0;
}
.service_two:hover .srv_icon{
    transform: rotateY(180deg);
}

/*===============================================================================
17.		Portfolio
=================================================================================*/

.filters ul li{
	float: left;
	margin: 0px 15px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.default-portfolio-item{
    position: relative;
}
.default-portfolio-item .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	opacity:0;
	visibility:hidden;
}
.default-portfolio-item .overlay-box span{
	position:absolute;
	left:0px;
	top:47%;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	text-align:center;
}
.default-portfolio-item .overlay-box span i.fa{
    text-align: center;
    font-size: 24px;
}
.filter-list .mix{
	display:none;	
}
.gallery-section .filters{
	position:relative;
	text-align:center;
	margin-bottom:50px;	
}

.gallery-section .filter-btns{
	position:relative;
	text-align:center;
}

.gallery-section .filter-btns li{
	position:relative;
	display:inline-block;
	padding:5px 20px;
	line-height:24px;
	border:1px solid;
	cursor:pointer;
	text-transform:uppercase;
	font-size:14px;
	margin-right:15px;
}
.tag{
	position:absolute;
	left:15px;
	bottom:5%;
	vertical-align:middle;
	text-align:center;
}
.tag ul li{
	float: left;
	padding-right: 5px;
}
.overlay-box{
	border:5px solid
}
/*============================================================================
18.   Pricing
==============================================================================*/
.table{
  border-radius: 20px;
  padding: 40px 30px;
}
.table h1{
  font-family: 'Poppins', sans-serif;
}
.table ul li{
  padding: 7px;
  border-bottom: 1px solid;
}
.table ul li:last-child{
  border-bottom: none;
}
/*===========================================================================
19.   Team
=============================================================================*/
.member{
  position: relative;
}
.member .data{
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: left top 0;
  display: inline-block;
  position: absolute;
}
.member .data h4, .member .data strong{
  padding: 10px 30px;
  display: block;
}
.data strong{
  letter-spacing: 2px;
  font-weight: 500;
}
.border h4, .border strong{
  margin-bottom: 0px;
}
.border strong{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 15px;
}
.member .hover_overlay{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}
.hover_overlay .socal_media{
  text-align: center;
  margin: 0 auto;
  display: table;
}
.hover_overlay .socal_media ul li{
  float: left;
  margin-right: 5px;
  margin-bottom: 0px;
}
.hover_overlay .socal_media ul li a{
  width: 45px;
  height: 45px;
  line-height: 36px;
}
.border{
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 3px solid !important;
}
.border p{
  margin-bottom: 25px;
}
.member:hover .data{
  opacity: 0;
}
/*============================================================================
20.		Testimonial
==============================================================================*/

.member_feedback{
  position: relative;
  margin: 60px 15px 10px 15px;
}
.member_feedback h5{
  letter-spacing: 2px;
}
.client_img img{
  width: 100px !important;
  height: auto;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: 30px;
  margin-bottom: 20px;
}
.star{
  margin-top: 40px;
}
.member_feedback h5{
  font-weight: 500
}
.star ul li{
  float: left;
  margin-right: 5px;
}
.member_feedback:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  background-image: url(../images/testimonial/clone.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  background-position: top right;
  overflow: hidden;
}
.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span{
	font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}
.owl-carousel .owl-nav button.owl-prev {
    margin-right: 10px;
}
/*===============================================================================
21.   Blog
=================================================================================*/
.blog_item{
  position: relative;
}
.comments{
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 11;
    font-size: 42px;
}
.comments span{
    position: absolute;
    top: 7px;
    right: 12px;
    z-index: 11;
    font-size: 14px;
    font-weight: 600;
}
.blog_content{
  padding: 30px 15px;
  display: inline-block;
}
.blog_title a h5{
  line-height: 24px;
}
.blog_img{
    overflow: hidden;
}
.admin{
  border-radius: 30px;
  padding: 5px;
  display: inline-block;
  float: left;
}
.admin img{
  width: 40px !important;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  float: left;
}
.admin span{
  padding-right: 15px;
  line-height: 39px;
}
.date{
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
}

/*===============================================================================
22.   Contact
=================================================================================*/
.contact_info ul li{
  margin-bottom: 10px;
}
.contact_text h6{
  font-weight: 600;
  letter-spacing: 1px;
}
.form-control{
  padding: 5px 15px;
  font-size: 14px;
  height: calc(30px + 15px);
  margin-bottom: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid;
}
.form-control:focus{
    outline: 0;
    box-shadow: none;
}
.error-handel{
  position: relative;
}
.error-handel:before{
  bottom: -30px;
  display: table;
  height: 35px;
  left: 15px;
  margin: auto 0;
  position: absolute;
  text-align: left;
  width: 100%
}
#success, #error {
  display: none;
  line-height: 34px
}
.contact_message .error{
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0;
}
#success, #error {
  display: none;
  line-height: 34px
}
#success {
  color: #31bb15
}
.contact_message .error{
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 0;
}
.contact_info ul li .contact_icon{
    margin-right: 20px;
}
.contact_text{
  display: table-cell;
}
.twite i {
    padding-right: 15px;
}
.subscribe .form-control{
  border-bottom: 0px;
}

/*===============================================================================
23.   Preloader 
=================================================================================*/
.preloader{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*===============================================================================
24.   Back to Top
=================================================================================*/
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 9999;
}
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
}
/*===============================================================================
25.   Page Banner
=================================================================================*/
.banner .logo{
  width: 120px;
  height: auto;
}
.page_banner_title{
  margin-top: 10px;
}
.banner_text{
  position: relative;
  z-index: 11;
}
.breadcrumbs ul li{
    float: left;
    margin-right: 15px;
    display: inline-block;
}
.breadcrumbs ul li:last-child{
  margin-right: 0px;
}
/*===============================================================================
26.   Page Nav
=================================================================================*/
nav ul li.page-item{
  margin-right: 7px;
}
.page-link{
    border: none;
    border-radius: 50%;
    line-height: 31px;
    width: 45px;
    height: 45px;
    font-size: 16px;
    text-align: center;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link{
  border-radius: 50%;
}
/*===============================================================================
27.  Blog Sidebar
=================================================================================*/
.widget .socal_media ul li{
  float: left;
  margin-right: 7px;
}
.category_sidebar ul li,.archives ul li{
  padding: 7px 0px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
.category_sidebar ul li a,.archives ul li a{
  float: left;
}
.recent_post .post_img{
  width: 80px;
  height: auto;
  float: left;
}
.recent_post_content{
  display: inline-block;
  padding-left: 15px;
  width: 70%;
}
.tags ul li{
  float: left;
  margin: 0px 5px 5px 0px;
}
.tags ul li a{
  padding: 5px 25px;
  border-radius: 50px;
}
/*===============================================================================
28.  Blog Sidebar
=================================================================================*/

.blog_details .comments{
    position: relative;
    display: inline-block;
    margin-left: 45px;
    font-size: 24px;
    float: left;
}
.blog_details .comments span {
    position: relative;
    display: inline-block;
    top: -3px;
    margin-left: 15px;
    font-weight: 500;
}
.blog_details .date{
  font-weight: 500;
  font-size: 14px;
}
blockquote{
  padding-left: 30px;
  font-style: italic;
}
.author_img{
  float: left;
}
.author_img > img{
  width: 70px;
}
.author_text{
  padding-left: 30px;
  display: table;
}
.author_info{
  margin-bottom: 10px;
}
.author_name{
  display: inline-block;
  text-transform: inherit;
  font-weight: 400;
}
.author_info span {
    float: right;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}
.replied{
    margin-left: 100px;
}